
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Ofertas
					</h1>
					<div class="row">
						<div class="col-sm-4">
							<div class="imagen">
								<img src="../../../assets/images/familia.png">
							</div>
							
							<h4 class="title">Familias</h4>
							<div class="u-padding-vertical u-text-center">
								Existen ofertas para familias completas de todo tipo: numerosas, 
								monoparentales, biparentales...
							</div>
							<div class="u-text-center">
								<a href="../tarifas/#anual" class="btn btn-primary btn--full-width">
									Ver tarifas
								</a>
							</div>
						</div>
						<div class="u-display-none-desktop divider"></div>
						<div class="col-sm-4">
							<div class="imagen">
								<img src="../../../assets/images/actividades.png">
							</div>
							
							<h4 class="title">Actividades</h4>
							<div class="u-padding-vertical u-text-center">
								Ofrecemos descuentos para socias que estén apuntados a más de 
								una actividad.
							</div>
							<div class="u-text-center">
								<a href="../tarifas/#anual" class="btn btn-primary btn--full-width">
									Ver tarifas
								</a>
							</div>
						</div>
						<div class="u-display-none-desktop divider"></div>
						<div class="col-sm-4">
							<div class="imagen">
								<img src="../../../assets/images/nuevo.png">
							</div>
							
							<h4 class="title">Nuevo socio</h4>
							<div class="u-padding-vertical u-text-center">
								¡Estás de suerte! Ahora, si te haces socio, ahorrarás un 20% en el 
								pago inicial.
							</div>
							<div class="u-text-center">
								<a href="../tarifas/#anual" class="btn btn-primary btn--full-width">
									Ver tarifas
								</a>
							</div>
						</div>
					</div>
					<div class="u-display-none-desktop divider"></div>
					<div class="u-display-none-desktop divider"></div>
					<p class="parrafo">
						Además, nuestros patrocinadores ofrecen descuentos en sus diferentes ámbitos 
						a los socios de nuestro club. Para que la oferta sea efectiva, deberá enseñar 
						su carnet de socio al realizar compras en alguna de estas entidades. 
						Si la compra se realiza online deberá solicitar en nuestro club una clave 
						de identificación de su carnet. Esta clave será personal e intransferible, 
						el uso de ella por terceros será motivo de bloqueo de dicha clave.
					</p>
					<div class="row">
						<div class="col-sm-4">
							<div class="imagen imagen--patrocinador">
								<img src="../../../assets/images/elcorteingles.jpg">
							</div>
							
							<h4 class="title">El corte inglés</h4>
							<div class="u-padding-vertical u-text-center">
								El Corte Inglés ofrece ofertas en lo ámbitos: textil, viajes, calzado y deportes para 
								socios de nuestro club.
							</div>
							<a href="http://www.elcorteingles.es" target="_blank" class="link">
								www.elcorteingles.es
							</a>
						</div>
						<div class="u-display-none-desktop divider"></div>
						<div class="col-sm-4">
							<div class="imagen imagen--patrocinador">
								<img src="../../../assets/images/iberdrola.jpg">
							</div>
							
							<h4 class="title">Iberdrola</h4>
							<div class="u-padding-vertical u-text-center">
								Iberdrola te da la oportunidad de ahorrar en tu factura de luz y gas.
							</div>
							<a href="http://www.iberdrola.es" target="_blank" class="link">
								www.iberdrola.es
							</a>
						</div>
						<div class="u-display-none-desktop divider"></div>
						<div class="col-sm-4">
							<div class="imagen imagen--patrocinador">
								<img src="../../../assets/images/dia.jpg">
							</div>
							<h4 class="title">Supermercados Dia</h4>
							<div class="u-padding-vertical u-text-center">
								Los Supermercados Dia ofrecen descuentos en diferentes categorías.
							</div>
							<a href="http://www.dia.es" target="_blank" class="link">
								www.dia.es
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


{% endblock %}