<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content__text">
                <ul class="footer-content__media">
                    <li class="footer-content__media-item">
                        <a class="icon icon-white" target="_blank" href="/" alt="Enlace a facebook">
                            <svg id="Bold" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/></svg>
                        </a>
                    </li>
                    <li class="footer-content__media-item">
                        <a class="icon icon-white" target="_blank" href="/" alt="Enlace a instagram">
                            <svg viewBox="0 0 512.00096 512.00096" xmlns="http://www.w3.org/2000/svg"><path d="m373.40625 0h-234.8125c-76.421875 0-138.59375 62.171875-138.59375 138.59375v234.816406c0 76.417969 62.171875 138.589844 138.59375 138.589844h234.816406c76.417969 0 138.589844-62.171875 138.589844-138.589844v-234.816406c0-76.421875-62.171875-138.59375-138.59375-138.59375zm-117.40625 395.996094c-77.195312 0-139.996094-62.800782-139.996094-139.996094s62.800782-139.996094 139.996094-139.996094 139.996094 62.800782 139.996094 139.996094-62.800782 139.996094-139.996094 139.996094zm143.34375-246.976563c-22.8125 0-41.367188-18.554687-41.367188-41.367187s18.554688-41.371094 41.367188-41.371094 41.371094 18.558594 41.371094 41.371094-18.558594 41.367187-41.371094 41.367187zm0 0"/><path d="m256 146.019531c-60.640625 0-109.980469 49.335938-109.980469 109.980469 0 60.640625 49.339844 109.980469 109.980469 109.980469 60.644531 0 109.980469-49.339844 109.980469-109.980469 0-60.644531-49.335938-109.980469-109.980469-109.980469zm0 0"/><path d="m399.34375 96.300781c-6.257812 0-11.351562 5.09375-11.351562 11.351563 0 6.257812 5.09375 11.351562 11.351562 11.351562 6.261719 0 11.355469-5.089844 11.355469-11.351562 0-6.261719-5.09375-11.351563-11.355469-11.351563zm0 0"/></svg>
                        </a>
                    </li>
                    <li class="footer-content__media-item">
                        <a class="icon icon-white" target="_blank" href="/" alt="Enlace a twitter">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
                                            c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
                                            c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
                                            c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
                                            c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
                                            c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
                                            C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
                                            C480.224,136.96,497.728,118.496,512,97.248z"/>
                                    </g>
                                </g>
                            </svg>

                        </a>
                    </li>
                    <li class="footer-content__media-item">
                        <a class="icon icon-white" target="_blank" href="/" alt="Enlace a youtube">
                            <svg viewBox="0 -61 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v240c0 41.351562 33.648438 75 75 75h362c41.351562 0 75-33.648438 75-75v-240c0-41.351562-33.648438-75-75-75zm-256 298.417969v-203.90625l180.496094 100.269531zm0 0"/><path d="m211 145.488281v101.105469l89.503906-51.375zm0 0"/></svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-content__telefono">
                    <span class="u-font-small">
                        También podrás contactarnos en el teléfono: 
                    </span>
                    <span class="u-font-bold">948 774 373</span>
                </div>
                <ul class="list-footer list--no-style">
                    <li class="list-footer--item">
                        <a href="#">Aviso legal</a>
                    </li>
                    <li class="list-footer--item">
                        <a href="#">Condiciones de uso</a>
                    </li>
                    <li class="list-footer--item">
                        <a href="#">Seguridad</a>
                    </li>
                    <li class="list-footer--item">
                        <a href="#">Privacidad</a>
                    </li>
                    <li class="list-footer--item">
                        <a href="#">Reclamaciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
