.header-image {
  position: relative;

  &.header-image__imagen {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    @include media($only-mobile) {
      height: 320px;
    }
  }

  .header-image__links {
    display: flex;
    text-align: center;
    flex: 0 0 100%;
    align-items: flex-start;
    .bloque-header {
      padding: spacing(small);
      color: white !important;
      flex-grow: 1;
      &:hover {
        color: $body-color !important;
      }
      &.bloque-header--actividades {
        background-color: $actividades2;
        &:hover {
          background-color: $actividades;
        }
      }
      &.bloque-header--instalaciones {
        background-color: $instalaciones2;
        &:hover {
          background-color: $instalaciones;
        }
      }
      &.bloque-header--tarifas {
        background-color: $tarifas2;
        &:hover {
          background-color: $tarifas;
        }
      }
      &.bloque-header--actualidad {
        background-color: $actualidad2;
        &:hover {
          background-color: $actualidad;
        }
      }
      &.bloque-header--reservas {
        background-color: $reservas2;
        &:hover {
          background-color: $reservas;
        }
      }
    }
    @include media($only-mobile) {
      display: none;
    }
  }
}

.pre-header {
  height: 70px;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  .home {
    float: left;
    margin-left: spacing(superhero);
    color: transparent;
    @include media($only-mobile) {
      margin-left: spacing(small);
    }
    img {
      height: 70px;
    }
  }
  .icono-menu {
    margin: auto;
    margin-right: spacing(base);
    img{
      height: 30px;
    }
  }
}

.header-indice {
    background-color: $primary;
    width: 100%;
}

.menu-movil {
  position: fixed;
  display: block;
  top: 70px;
  left: 100%;
  width: 250px;
  height: 100vh;
  z-index: 5;
  
  &.clickado {
    transform: translateX(-250px);
    transition: 0.5s;
  }
  .cerrar-menu {
    float: right;
    padding: spacing(small);
    @include typi("h1")
  }
  .bloque-header--movil {
    padding: spacing(base);
    a {
      color: $white;
    }
  }
  .bloque-header--actividades {
    background-color: $actividades2;
    &:hover {
      background-color: $actividades;
    }
  }
  .bloque-header--instalaciones {
    background-color: $instalaciones2;
    &:hover {
      background-color: $instalaciones;
    }
  }
  .bloque-header--tarifas {
    background-color: $tarifas2;
    &:hover {
      background-color: $tarifas;
    }
  }
  .bloque-header--actualidad {
    background-color: $actualidad2;
    &:hover {
      background-color: $actualidad;
    }
  }
  .bloque-header--reservas {
    background-color: $reservas2;
    &:hover {
      background-color: $reservas;
    }
  }
  
}


// MEDIA QUERY EXAMPLE

@include media-breakpoint-up(lg) {

}
