.prohibido {
    color: $prohibido;
    text-transform: uppercase;
    font-weight: bold;
}

.aceptado {
    color: $aceptado;
    text-transform: uppercase;
    font-weight: bold;
}

.error {
    color: $prohibido;
    font-style: italic;
}

.elija-fecha {
    text-align: center;
    @include typi("h2");
    text-transform: uppercase;
    color: $prohibido;
    padding-bottom: spacing(base);
    font-weight: bold;
}

.dislexico {
    font-family: $font-family-second;
}