.bloque-slide{
    position: relative;
    .image-slide {
        width: 100%;
        display: none;
        @include media($only-mobile) {
            &:not(:first-child) {
                display: none;
            }
        }
    }
    .button-slide {
        position: absolute;
        top: 0;
        height: 100%;
        opacity: 30%;
        &.button-slide--left {
            left: 0;
        }
        &.button-slide--right { 
            right: 0;
        }
        &:hover {
            opacity: 70%;
        }
    }
    .texto--slide {
      width: 250px;
      background-color: $primary;
      color: $white; 
      padding: spacing(base);
      position: absolute; 
      top: 50px; 
      left: 100px
    }
}

.bloque-media {
  .texto-media {
    color: $body-color;
    @include typi("small");
    font-weight: 300;
  }
  .titulo-media {
    padding: spacing("medium") 0 spacing("tiny");
    font-weight: bold;
  }
  img {
    width: 64px;
    height: 64px;
    min-width: auto;
  }
  @include media($only-mobile) {
    text-align: center;
  }
}

.bloque-ofertas {
  text-align: center;
  span {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.bloque-imagen {
  img{
    height: 200px;
  }
}

.bloque--caja {
  padding: spacing(base);
  border: 1px solid $gris-oscuro;
  color: $gris-oscuro;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  div {
    padding: spacing(base);
  }
}

.bloque-elige {
  text-align: end;
  margin-bottom: spacing(base);
  select {
    cursor: pointer;
    border-radius: $border-radius;
    background-color: $white;
    padding: spacing(small);
    color: $primary;
    &:hover {
      background-color: $gris;
    }
  }
}

.bloque--reservas {
  display: flex;
  justify-content: space-between;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
 
  @include typi('h2');
  button {
    padding: spacing(base) spacing(huge);
    @include media($only-mobile) {
      padding: spacing(tiny);
    }
  }

  .activated {
    color: $reservas;
    @include typi('h1');
    text-decoration: underline;
  }

}

.bloque--instalaciones {
  a {
    @include media($only-mobile) {
      text-align: center;
    }
  }
  img {
    width: 300px;
    height: 200px;
  }
  &.imagen--instalacion {
    img{
      width: 100%;
      object-fit: cover;
      margin-bottom: spacing(large);
    }
  }
}

.imagen {
  img{
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  &.imagen--patrocinador {
    img{
      height: 100% !important;
    }
  }

  @include media($only-mobile) {
    text-align: center;
  }
}

.balneario {
  margin-top: spacing(base);
  display: flex;
  @include media($only-mobile) {
    display: block;
  }
}
