/*
===========================================
==  Paleta de colores  ====================
===========================================
*/
$primary: #e8263e;
$secondary: #bf081e;

$actividades: #d754e9;
$actividades2: #a900e4;

$instalaciones: #99aaee;
$instalaciones2: #3b56bf;

$tarifas: #4b9459;
$tarifas2: #157526;

$actualidad: #995198;
$actualidad2: #751574;

$reservas: #df9159;
$reservas2: #ce661e;


$selection-text-color: #414141; // color del texto seleccionado
$body-color: #414141; // color del texto por defecto
$white: #ffffff;

$gris-claro: #e5ded9;
$gris: #cccccc;
$gris-oscuro: #928c8c;

$prohibido: $secondary;
$aceptado: $tarifas;

$colors: (
  actividades: $actividades,
  actividades2: $actividades2,
  instalaciones: $instalaciones,
  tarifas: $tarifas,
  actualidad: $actualidad,
  conreservastacto: $reservas,
  white: $white,
  primary: $primary,
  secondary: $secondary
);

/*
===========================================
==  Breakpoints  ==========================
===========================================
*/

// Bootstrap breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);

/*
===========================================
==  márgenes  =============================
===========================================
*/

$spacing: (
  tiny:   5px,
  small:  10px,
  xbase:  15px,
  base:   20px,
  medium: 25px,
  xmedium: 30px,
  large: 35px,
  xlarge:  40px,
  huge:  50px,
  extrahuge: 60px,
  hero: 70px,
  superhero: 80px,
  giant: 90px
);


// Nombre de tamaños de letra y sus comportamientos
$typi: (
  xtiny: (
     null: (11px, 12px),
  ),
  tiny: (
     null: (12px, 16px),
  ),
  small: (
    null: (14px, 20px),
  ),
  base: (
    null: (16px, 24px),
  ),
  medium: (
    null: (18px, 24px),
  ),
  h4: (
    null: (20px, 24px),
  ),
  h3: (
    null: (20px, 28px),
    md: (24px, 32px),
  ),
  h2: (
    null: (24px, 32px),
    md: (32px, 36px),
  ),
  h1: (
    null: (28px, 32px),
    md: (42px, 46px),
  ),
  hero: (
    null: (32px, 36px),
    md: (48px, 50px),
  ),
  giant: (
    null: (48px, 50px),
    md: (60px, 65px),
  ),
  especial: (
    null: (48px, 50px),
    md: (96px, 96px),
  ),
);

@font-face {
  font-family: "Open Dyslexic";
  src: url("OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Regular.otf");
}


$font-family-base: "Arial";
$font-family-second: "Open Dyslexic";
$font-size: 15px;

$modularscale: (
  base: 16px,
  ratio: 1.125
);

// Line height
$line-height-large: 1.5;
$line-height-medium: 1.3;
$line-height-small: 1.1;

// Typi breackpoints
$breakpoints: (
  xs: map-get($grid-breakpoints, xs),
  sm: map-get($grid-breakpoints, sm),
  md: map-get($grid-breakpoints, md),
  lg: map-get($grid-breakpoints, lg),
  xl: map-get($grid-breakpoints, xl),
  xxl: map-get($grid-breakpoints, xxl)
);

// breakpoint aliases
$mobile-large: '>=sm';
$tablet: '>=md';
$desktop: '>=lg';
$desktop-large: '>=xl';

$only-mobile-small: '<sm';
$only-mobile: '<md';
$only-mobile-tablet: '<lg';
$only-down-desktop: '<xl';

$bp-aliases: (
  1: ('mobile-large', $mobile-large),
  2: ('tablet', $tablet),
  3: ('desktop', $desktop),
  4: ('desktop-large', $desktop-large),
  5: ('only-mobile-small', $only-mobile-small),
  6: ('only-mobile', $only-mobile),
  7: ('only-mobile-tablet', $only-mobile-tablet),
  8: ('only-down-desktop', $only-down-desktop),
);

$border-radius: 5px;