 {% extends "layouts::/html.twig" %}
 {% block body %}
   <div class="page">
      {% include 'includes::/header.twig' %}

         {% block page %}
      
         {% endblock %}

      {% include 'includes::/footer.twig' %}
   </div>
 {% endblock %}